body {
    background-color: #F0DBBF;
    font-family: "SUSE", sans-serif;
}

header .custom-btn {
    padding: .7em;
    height: fit-content;
}

img {
    width: 120px;
}

blockquote footer {
    background-color: transparent !important;
} 

footer {
    background-color: #7e694f;
}
