body {
    background-color: #F0DBBF;
}

.logo {
    width: 65px;
    height: auto;
}

#abs-img {
    top: 75px;
    left: 50px;
    z-index: 1;
    width: 300px;
}

@media screen and (min-width:768px) {
    .display-3 {
        margin-top: 10px;
        text-shadow: 3px 3px 1px grey;
    }    
}

.custom-icon {
    font-size: 1.5rem;
    color: #008638;
}

/* Media queries */
@media screen and (max-width: 469px) {
    .logo {
        width: 45px;
        /* margin-right: 5%; */
    }
}

