body {
    background-color: #F0DBBF;
}

.message-box {
    min-height: 40px;
    text-align: center;
}

.show-error {
    background-color: #b40000;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-error {
    visibility: hidden;
}

.show-success {
    background-color: #008638;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-success {
    visibility: hidden;
}

#abs-img {
    top: 75px;
    left: 50px;
    z-index: 1;
    width: 300px;
}

.logo {
    width: 65px;
    height: auto;
}

footer {
    background-color: #7e694f;
}

/* Media queries */
@media screen and (max-width: 469px) {
    .logo {
        width: 45px;
    }
}
