body {
    background-color: #F0DBBF;
    font-family: "SUSE", sans-serif;
}

.card {
    background-color: #ffe9cc;
}

.custom-card p {
    margin-bottom: 10px;
}

.message-box {
    min-height: 40px;
    text-align: center;
}

.show-error {
    background-color: #b40000;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-error {
    visibility: hidden;
}

.show-success {
    background-color: #008638;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-success {
    visibility: hidden;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: #E4BE8B;
    border-right: 7px solid #7e694f;
    position: fixed;
    left: 0;
    overflow: auto;
}
.sidebar img {
    width: 80px;
    height: auto;
}

main {
    position: relative; 
    margin-left: 25%; 
    width: 75%;
}

/* Already taken care of with mb-5 in the html */
/* 
.custom_card p{
    margin-bottom: 0.2em;
} */

footer {
    opacity: 100%;
    background-color: #7e694f;
    z-index: 1;
}

/* On screens that are less than 769px wide, make the sidebar into a topbar */
@media screen and (max-width: 916px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    footer {
        opacity: 100%;
    }

    main {
        margin-left: 10%;
    }
}
