body {
    background-color: #F0DBBF;
}

.logo {
    width: 65px;
    height: auto;
}

#abs-img {
    top: 75px;
    left: 50px;
    z-index: 1;
    width: 300px;
}

.show-error {
    background-color: #b40000;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16x;
    min-height: 40px;
    text-align: center;
    visibility: visible;
}

.hide-error {
    background-color: #b40000;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16x;
    min-height: 40px;
    text-align: center;
    visibility: hidden;
}

.show-success {
    background-color: #008638;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16x;
    min-height: 40px;
    text-align: center;
    visibility: visible;
}

.hide-success {
    background-color: #008638;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16x;
    min-height: 40px;
    text-align: center;
    visibility: hidden;
}

.show-error p {
    margin-bottom: 0px;
}

.show-success p {
    margin-bottom: 0px;
}

footer {
    background-color: #7e694f;
}
