body {
    background-color: #F0DBBF;
    font-family: "SUSE", sans-serif;
}

.custom-btn {
    padding: .7em;
    height: fit-content;
}

.card {
    background-color: #ffe9cc;
}

.card-info {
    width: 49%;
}

.message-box {
    min-height: 40px;
    text-align: center;
}

.show-error {
    background-color: #b40000;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-error {
    visibility: hidden;
}

.show-success {
    background-color: #008638;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-success {
    visibility: hidden;
}

footer {
    background-color: #7e694f;
    z-index: 1;
}


/* On screens that are less than 916px wide */
@media screen and (max-width: 916px) {
    .card {
        width: 100%;
    }

    .main {
        margin-left: .5em;
        margin-right: .5em;
    }
}
