body {
    background-color: #F0DBBF;
    font-family: "SUSE", sans-serif;
}

header .custom-btn {
    padding: .7em;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    height: fit-content;
}

.card {
    background-color: #ffe9cc;
}

/* input {
    width: 50% !important;
} */

.card-info {
    width: 48%;
}

.card-infos {
    justify-content: center;
}

.message-box {
    min-height: 40px;
    text-align: center;
}

.show-error {
    background-color: #b40000;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-error {
    visibility: hidden;
}

.show-success {
    background-color: #008638;
    color: #eaeaea;
    padding: 0.8em;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    visibility: visible;
}

.hide-success {
    visibility: hidden;
}

footer {
    opacity: 85%;
    background-color: #7e694f;
    z-index: 1;
}
