body {
    background-color: #F0DBBF;
}

.logo {
    width: 65px;
    height: auto;
}

#abs-img {
    top: 75px;
    left: 50px;
    z-index: 1;
    width: 300px;
}

@media screen and (min-width:768px) {
    .display-3 {
        margin-top: 10px;
        text-shadow: 3px 3px 1px grey;
    }    
}

@media screen and (max-width: 469px) {
    .logo {
        width: 45px;
        /* margin-right: 5%; */
    }
}

.custom-icon {
    font-size: 1.5rem;
    color: #008638;
}

.custom-main {
    height: 80vh;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #00200d;
    padding: 2em 0em;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    margin-bottom: 0;
}
